<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="DefaultConnection"
    connectionString="Server=mssql-187909-0.cloudclusters.net,10012;Database=QuangBaDiaDanh;User Id=admin;Password=Admin123;"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <App.Properties.Settings>
   <setting name="Email" serializeAs="String">
    <value />
   </setting>
   <setting name="MatKhau" serializeAs="String">
    <value />
   </setting>
  </App.Properties.Settings>
 </userSettings>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
	</appSettings>
</configuration>